<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Name="RTShell 4.1"
    Manufacturer="AIST"
    Id="A999A734-5509-11E5-89AA-D4BED9A6AE6D"
    UpgradeCode="BC9FBF12-5509-11E5-89AA-D4BED9A6AE6D"
    Language="1033"
    Codepage="1252"
    Version="4.1.0">
    <!--Language="1041" Codepage="932" for Japanese-->
    <Package Id="*"
      Keywords="Installer"
      Description="RTShell 4.1 installer"
      Comments="RTShell is a product of the National Institute for Advanced Industrial Science and Technology, Japan"
      Manufacturer="AIST"
      InstallerVersion="400"
      Languages="1033"
      Compressed="yes"
      SummaryCodepage="1252"
      />

    <!-- Check for Python 2.7 being installed -->
    <Property Id="PYTHONDIRKEY64">
      <RegistrySearch Id="Python27DirKey64"
        Root="HKLM"
        Key="SOFTWARE\Python\PythonCore\2.7\InstallPath"
        Type="raw"
        Win64="yes"
        />
    </Property>
    <Property Id="PYTHONDIRKEY">
      <RegistrySearch Id="Python27DirKey32"
        Root="HKLM"
        Key="SOFTWARE\Python\PythonCore\2.7\InstallPath"
        Type="raw"
        Win64="no"
        />
    </Property>
    <SetProperty Id="PYTHONDIRKEY" After="AppSearch" Value="[PYTHONDIRKEY64]">
      PYTHONDIRKEY64
    </SetProperty>
    <Condition Message="[ProductName] requires Python 2.7">
      <![CDATA[Installed OR (PYTHONDIRKEY <> "")]]>
    </Condition>

    <!-- Install wheel file -->
    <Media Id="1" Cabinet="RTShell.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="RTCTree41" Language="1033" SourceFile="rtctree.msm" DiskId="1"/>
      <Merge Id="RTSProfile41" Language="1033" SourceFile="rtsprofile.msm" DiskId="1"/>
      <Merge Id="RTShell41" Language="1033" SourceFile="rtshell.msm" DiskId="1"/>
    </Directory>

    <Feature Id="RTCTree" Title="RTCTree" Level="1" Absent="disallow"
        Description="Python library for introspecting RT-Components">
        <MergeRef Id="RTCTree41"/>
    </Feature>
    <Feature Id="RTSProfile" Title="RTSProfile" Level="1" Absent="disallow"
        Description="Python library for manipulating RT-Systems and .rtsys files">
        <MergeRef Id="RTSProfile41"/>
    </Feature>
    <Feature Id="RTShell" Title="RTShell" Level="1" Absent="disallow"
        Description="Python library and toolset for managing running RT-Components and managers">
        <MergeRef Id="RTShell41"/>
    </Feature>
  </Product>
</Wix>
