<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Module Id="RTShell41"
    Language="1033"
    Codepage="1252"
    Version="4.1.0">
    <!--Language="1041" Codepage="932" for Japanese-->
    <Package Id="33717363-5E00-48C0-9BD8-8B694262D7C0"
      Keywords="Installer"
      Description="RTShell 4.1 installer"
      Comments="RTShell is a product of the National Institute for Advanced Industrial Science and Technology, Japan"
      Manufacturer="AIST"
      InstallerVersion="400"
      Languages="1033"
      SummaryCodepage="1252"
      />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="PythonDir" Name="Python27">
        <Directory Id="PythonLib" Name="Lib">
          <Directory Id="PythonSitePackages" Name="site-packages">
            <Directory Id="RTShell" Name="rtshell">
              <Directory Id="RTShellData" Name="data">
                <Directory Id="RTShellDoc" Name="doc">
                  <Directory Id="RTShellDocEn" Name="en">
                  </Directory>
                  <Directory Id="RTShellDocJa" Name="ja">
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
            <Directory Id="RTShellInfo" Name="rtshell-4.1.0.dist-info">
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="PythonScripts" Name="Scripts">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="RTShellMenu" Name="RTShell 4">
        </Directory>
      </Directory>
    </Directory>

    <!-- RTShell files -->
    <DirectoryRef Id="RTShell">
      <Component Id="RTShell" Guid="21353C61-BDEF-49C9-92FE-F8B4E744E4CA">
        <RemoveFile Id="RTShell" On="both" Name="*.pyc"/>
        <File Id="actions.py" Source="C:\Python27\Lib\site-packages\rtshell\actions.py"/>
        <File Id="comp_mgmt.py" Source="C:\Python27\Lib\site-packages\rtshell\comp_mgmt.py"/>
        <File Id="fmt.py" Source="C:\Python27\Lib\site-packages\rtshell\fmt.py"/>
        <File Id="gen_comp.py" Source="C:\Python27\Lib\site-packages\rtshell\gen_comp.py"/>
        <File Id="ilog.py" Source="C:\Python27\Lib\site-packages\rtshell\ilog.py"/>
        <File Id="modmgr.py" Source="C:\Python27\Lib\site-packages\rtshell\modmgr.py"/>
        <File Id="option_store.py" Source="C:\Python27\Lib\site-packages\rtshell\option_store.py"/>
        <File Id="path.py" Source="C:\Python27\Lib\site-packages\rtshell\path.py"/>
        <File Id="plan.py" Source="C:\Python27\Lib\site-packages\rtshell\plan.py"/>
        <File Id="port_types.py" Source="C:\Python27\Lib\site-packages\rtshell\port_types.py"/>
        <File Id="post_install.py" Source="C:\Python27\Lib\site-packages\rtshell\post_install.py"/>
        <File Id="rtact.py" Source="C:\Python27\Lib\site-packages\rtshell\rtact.py"/>
        <File Id="rtcat.py" Source="C:\Python27\Lib\site-packages\rtshell\rtcat.py"/>
        <File Id="rtcheck.py" Source="C:\Python27\Lib\site-packages\rtshell\rtcheck.py"/>
        <File Id="rtcomp.py" Source="C:\Python27\Lib\site-packages\rtshell\rtcomp.py"/>
        <File Id="rtcon.py" Source="C:\Python27\Lib\site-packages\rtshell\rtcon.py"/>
        <File Id="rtconf.py" Source="C:\Python27\Lib\site-packages\rtshell\rtconf.py"/>
        <File Id="rtcryo.py" Source="C:\Python27\Lib\site-packages\rtshell\rtcryo.py"/>
        <File Id="rtcwd.py" Source="C:\Python27\Lib\site-packages\rtshell\rtcwd.py"/>
        <File Id="rtdeact.py" Source="C:\Python27\Lib\site-packages\rtshell\rtdeact.py"/>
        <File Id="rtdel.py" Source="C:\Python27\Lib\site-packages\rtshell\rtdel.py"/>
        <File Id="rtdis.py" Source="C:\Python27\Lib\site-packages\rtshell\rtdis.py"/>
        <File Id="rtdoc.py" Source="C:\Python27\Lib\site-packages\rtshell\rtdoc.py"/>
        <File Id="rtexit.py" Source="C:\Python27\Lib\site-packages\rtshell\rtexit.py"/>
        <File Id="rtfind.py" Source="C:\Python27\Lib\site-packages\rtshell\rtfind.py"/>
        <File Id="rtinject.py" Source="C:\Python27\Lib\site-packages\rtshell\rtinject.py"/>
        <File Id="rtinject_comp.py" Source="C:\Python27\Lib\site-packages\rtshell\rtinject_comp.py"/>
        <File Id="rtlog.py" Source="C:\Python27\Lib\site-packages\rtshell\rtlog.py"/>
        <File Id="rtlog_comps.py" Source="C:\Python27\Lib\site-packages\rtshell\rtlog_comps.py"/>
        <File Id="rtls.py" Source="C:\Python27\Lib\site-packages\rtshell\rtls.py"/>
        <File Id="rtmgr.py" Source="C:\Python27\Lib\site-packages\rtshell\rtmgr.py"/>
        <File Id="rtprint.py" Source="C:\Python27\Lib\site-packages\rtshell\rtprint.py"/>
        <File Id="rtprint_comp.py" Source="C:\Python27\Lib\site-packages\rtshell\rtprint_comp.py"/>
        <File Id="rtpwd.py" Source="C:\Python27\Lib\site-packages\rtshell\rtpwd.py"/>
        <File Id="rtreset.py" Source="C:\Python27\Lib\site-packages\rtshell\rtreset.py"/>
        <File Id="rtresurrect.py" Source="C:\Python27\Lib\site-packages\rtshell\rtresurrect.py"/>
        <File Id="rtstart.py" Source="C:\Python27\Lib\site-packages\rtshell\rtstart.py"/>
        <File Id="rtstodot.py" Source="C:\Python27\Lib\site-packages\rtshell\rtstodot.py"/>
        <File Id="rtstop.py" Source="C:\Python27\Lib\site-packages\rtshell\rtstop.py"/>
        <File Id="rts_exceptions.py" Source="C:\Python27\Lib\site-packages\rtshell\rts_exceptions.py"/>
        <File Id="rtteardown.py" Source="C:\Python27\Lib\site-packages\rtshell\rtteardown.py"/>
        <File Id="rtvlog.py" Source="C:\Python27\Lib\site-packages\rtshell\rtvlog.py"/>
        <File Id="simpkl_log.py" Source="C:\Python27\Lib\site-packages\rtshell\simpkl_log.py"/>
        <File Id="state_control_base.py" Source="C:\Python27\Lib\site-packages\rtshell\state_control_base.py"/>
        <File Id="text_log.py" Source="C:\Python27\Lib\site-packages\rtshell\text_log.py"/>
        <File Id="RTShellInit" Source="C:\Python27\Lib\site-packages\rtshell\__init__.py" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="RTShellData">
      <Component Id="RTShellData" Guid="B886D888-28F6-4260-9A03-467B95526CCB">
        <RemoveFile Id="RTShellData" On="both" Name="*.pyc"/>
        <File Id="RTShellData_bash_completion" Source="C:\Python27\Lib\site-packages\rtshell\data\bash_completion"/>
        <File Id="RTShellData_rtcwd.bat" Source="C:\Python27\Lib\site-packages\rtshell\data\rtcwd.bat"/>
        <File Id="RTShellData_shell_support" Source="C:\Python27\Lib\site-packages\rtshell\data\shell_support"/>
        <File Id="RTShellDataInit" Source="C:\Python27\Lib\site-packages\rtshell\data\__init__.py" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="RTShellDocEn">
      <Component Id="RTShellDocEn" Guid="FD614828-56BD-4D75-8E76-9F4B48F0FFC4">
        <File Id="en_rtact.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtact.html"/>
        <File Id="en_rtcat.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtcat.html"/>
        <File Id="en_rtcheck.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtcheck.html"/>
        <File Id="en_rtcomp.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtcomp.html"/>
        <File Id="en_rtcon.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtcon.html"/>
        <File Id="en_rtconf.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtconf.html"/>
        <File Id="en_rtcryo.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtcryo.html"/>
        <File Id="en_rtcwd.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtcwd.html"/>
        <File Id="en_rtdeact.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtdeact.html"/>
        <File Id="en_rtdel.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtdel.html"/>
        <File Id="en_rtdis.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtdis.html"/>
        <File Id="en_rtdoc.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtdoc.html"/>
        <File Id="en_rtexit.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtexit.html"/>
        <File Id="en_rtfind.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtfind.html"/>
        <File Id="en_rtinject.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtinject.html"/>
        <File Id="en_rtlog.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtlog.html"/>
        <File Id="en_rtls.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtls.html"/>
        <File Id="en_rtmgr.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtmgr.html"/>
        <File Id="en_rtprint.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtprint.html"/>
        <File Id="en_rtpwd.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtpwd.html"/>
        <File Id="en_rtreset.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtreset.html"/>
        <File Id="en_rtresurrect.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtresurrect.html"/>
        <File Id="en_rtshell.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtshell.html" KeyPath="yes"/>
        <File Id="en_rtstart.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtstart.html"/>
        <File Id="en_rtstodot.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtstodot.html"/>
        <File Id="en_rtstop.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtstop.html"/>
        <File Id="en_rtteardown.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtteardown.html"/>
        <File Id="en_rtvlog.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\en\rtvlog.html"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="RTShellDocJa">
      <Component Id="RTShellDocJa" Guid="7FAA717D-4605-40EA-8F35-AF719650B0C4">
        <File Id="ja_rtact.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtact.html"/>
        <File Id="ja_rtcat.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtcat.html"/>
        <File Id="ja_rtcheck.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtcheck.html"/>
        <File Id="ja_rtcomp.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtcomp.html"/>
        <File Id="ja_rtcon.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtcon.html"/>
        <File Id="ja_rtconf.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtconf.html"/>
        <File Id="ja_rtcryo.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtcryo.html"/>
        <File Id="ja_rtcwd.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtcwd.html"/>
        <File Id="ja_rtdeact.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtdeact.html"/>
        <File Id="ja_rtdel.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtdel.html"/>
        <File Id="ja_rtdis.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtdis.html"/>
        <File Id="ja_rtdoc.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtdoc.html"/>
        <File Id="ja_rtexit.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtexit.html"/>
        <File Id="ja_rtfind.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtfind.html"/>
        <File Id="ja_rtinject.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtinject.html"/>
        <File Id="ja_rtlog.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtlog.html"/>
        <File Id="ja_rtls.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtls.html"/>
        <File Id="ja_rtmgr.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtmgr.html"/>
        <File Id="ja_rtprint.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtprint.html"/>
        <File Id="ja_rtpwd.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtpwd.html"/>
        <File Id="ja_rtreset.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtreset.html"/>
        <File Id="ja_rtresurrect.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtresurrect.html"/>
        <File Id="ja_rtshell.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtshell.html" KeyPath="yes"/>
        <File Id="ja_rtstart.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtstart.html"/>
        <File Id="ja_rtstodot.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtstodot.html"/>
        <File Id="ja_rtstop.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtstop.html"/>
        <File Id="ja_rtteardown.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtteardown.html"/>
        <File Id="ja_rtvlog.html" Source="C:\Python27\Lib\site-packages\rtshell\data\doc\html\ja\rtvlog.html"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="RTShellInfo">
      <Component Id="RTShellInfo" Guid="375256E1-9272-47D6-8D86-3A2FE86B77C9">
        <File Id="RTShellDESCRIPTION.rst" Source="C:\Python27\Lib\site-packages\rtshell-4.1.0.dist-info\DESCRIPTION.rst" KeyPath="yes"/>
        <File Id="RTShellMETADATA" Source="C:\Python27\Lib\site-packages\rtshell-4.1.0.dist-info\METADATA"/>
        <File Id="RTShellmetadata.json" Source="C:\Python27\Lib\site-packages\rtshell-4.1.0.dist-info\metadata.json"/>
        <File Id="RTShellRECORD" Source="C:\Python27\Lib\site-packages\rtshell-4.1.0.dist-info\RECORD"/>
        <File Id="RTShelltop_level.txt" Source="C:\Python27\Lib\site-packages\rtshell-4.1.0.dist-info\top_level.txt"/>
        <File Id="RTShellWHEEL" Source="C:\Python27\Lib\site-packages\rtshell-4.1.0.dist-info\WHEEL"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="PythonScripts">
      <Component Id="RTShellScripts" Guid="E2A8D90B-BB67-4A3E-BA50-AB113124DCF2">
        <File Id="rtact.exe" Source="C:\Python27\Scripts\rtact.exe" KeyPath="yes"/>
        <File Id="rtcat.exe" Source="C:\Python27\Scripts\rtcat.exe"/>
        <File Id="rtcheck.exe" Source="C:\Python27\Scripts\rtcheck.exe"/>
        <File Id="rtcomp.exe" Source="C:\Python27\Scripts\rtcomp.exe"/>
        <File Id="rtcon.exe" Source="C:\Python27\Scripts\rtcon.exe"/>
        <File Id="rtconf.exe" Source="C:\Python27\Scripts\rtconf.exe"/>
        <File Id="rtcryo.exe" Source="C:\Python27\Scripts\rtcryo.exe"/>
        <File Id="rtcwd.bat" Source="C:\Python27\Lib\site-packages\rtshell\data\rtcwd.bat"/>
        <File Id="rtdeact.exe" Source="C:\Python27\Scripts\rtdeact.exe"/>
        <File Id="rtdel.exe" Source="C:\Python27\Scripts\rtdel.exe"/>
        <File Id="rtdis.exe" Source="C:\Python27\Scripts\rtdis.exe"/>
        <File Id="rtdoc.exe" Source="C:\Python27\Scripts\rtdoc.exe"/>
        <File Id="rtexit.exe" Source="C:\Python27\Scripts\rtexit.exe"/>
        <File Id="rtfind.exe" Source="C:\Python27\Scripts\rtfind.exe"/>
        <File Id="rtinject.exe" Source="C:\Python27\Scripts\rtinject.exe"/>
        <File Id="rtlog.exe" Source="C:\Python27\Scripts\rtlog.exe"/>
        <File Id="rtls.exe" Source="C:\Python27\Scripts\rtls.exe"/>
        <File Id="rtmgr.exe" Source="C:\Python27\Scripts\rtmgr.exe"/>
        <File Id="rtprint.exe" Source="C:\Python27\Scripts\rtprint.exe"/>
        <File Id="rtpwd.exe" Source="C:\Python27\Scripts\rtpwd.exe"/>
        <File Id="rtreset.exe" Source="C:\Python27\Scripts\rtreset.exe"/>
        <File Id="rtresurrect.exe" Source="C:\Python27\Scripts\rtresurrect.exe"/>
        <File Id="rtstart.exe" Source="C:\Python27\Scripts\rtstart.exe"/>
        <File Id="rtstodot.exe" Source="C:\Python27\Scripts\rtstodot.exe"/>
        <File Id="rtstop.exe" Source="C:\Python27\Scripts\rtstop.exe"/>
        <File Id="rtteardown.exe" Source="C:\Python27\Scripts\rtteardown.exe"/>
        <File Id="rtvlog.exe" Source="C:\Python27\Scripts\rtvlog.exe"/>
      </Component>
    </DirectoryRef>

    <!-- Start menu shortcuts -->
    <DirectoryRef Id="RTShellMenu">
      <Component Id="RTShellDocShortcuts" Guid="BB82E61F-0F70-467A-8349-01C697B1D837">
        <util:InternetShortcut Id="RTShellDocEnShortcut"
          Name="Documentation (English)"
          Target="file://[PYTHONDIRKEY]Lib\site-packages\rtshell\data\doc\en"/>
        <util:InternetShortcut Id="RTShellDocJaShortcut"
          Name="Documentation (Japanese)"
          Target="file://[PYTHONDIRKEY]Lib\site-packages\rtshell\data\doc\ja"/>
        <RemoveFolder Id="RTShellMenu" On="uninstall"/>
        <RegistryValue Root="HKCU"
          Key="Software\AIST\RTShell"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Dependencies -->
    <Dependency RequiredId="RTCTree41.000485BE_A31F_4D6B_B3D1_337589CEA03D" RequiredLanguage="0" RequiredVersion="4.1.0"/>
    <Dependency RequiredId="RTSProfile41.54F6C036_634B_4478_8EE6_D5C217C5E0F2" RequiredLanguage="0" RequiredVersion="4.1.0"/>
  </Module>
</Wix>
